* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
/* On formate toute la page */

/* Tablet Landscape */



body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
    display: grid;
}
/* On définit 2 variables de fond et d'arrière-fond car on va les réutiliser beaucoup de fois*/

.leftmenuOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}



.leftmenuOption .material-icons,
.fa-twitter {
    padding: 20px;
}
/* paramètres des textes des menus de la gauche */
.leftmenuOption h2 {
    font : oblique 14px Arial, Helvetica, serif; 
    font-weight: 800px;
    font-size: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 1060px) {
     .leftmenuOption h2 {display: none} 
}

.leftmenuOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.leftmenuOption.active {
    color:var(--twitter-color)
}
/* Cela permet que le logo Twitter soit toujours en bleu et se démarque des autres boutons */
.leftmenuSearch {
    width: 100%;
    background-color: var(--twitter-color);
    border:none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
}
@media screen and (max-width: 1060px) {
    .leftmenuSearch{max-width: 20%;margin-left: 190px;}
}
/* mise en forme du bouton Rechercher en dessous de la barre des options */
body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}


/* paramètres du menu latéral gauche avec les options Notifications, compte , menu ... */
.leftmenu {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 1060px) {
    .leftmenuOption {margin-left: 180px;}
}
@media screen and (max-width: 1060px) {
    .leftmenu {margin-left: -200px}
}

.fa-twitter {
    color: var(--twitter-color);
    font-size: 30px;
}
@media screen and (max-width: 1060px) {
    .fa-twitter {margin-left: 175px;}
}
/* on redimensionne le logo Twitter car il était trop petit */
.mid {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 150%;height: 150%;
}

.mid::-webkit-scrollbar {
    display: none;
}
/* on fait "disparaitre" la barre latérale de scrolling */

.midHeader {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}
@media screen and (max-height: 800px) {
    .midHeader{display: none;}     
}
.midHeader h2 {
    font-size: 20px;
    font-weight: 800;
}

.midMenuColl img {
    border-radius: 50%;
    height: 40px;
}

.midMenu {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;   
}

.midMenu form {
    display: flex;
    flex-direction: column;
}

.midMenuColl {
    display: flex;
    padding: 20px;
}
.midMenuColl input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline:none;
}
/* paramètre du bouton "Tweet" */
.midMenuButton {
    background-color: var(--twitter-color);
    border:none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;  
}

.publiAvatar img {
    border-radius: 50%;
    height: 40px;
}
/* avatar du publicateur (moi) */
.publiAvatar {
    padding: 20px;
}
/* paramètres des publications */
.publi {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}
/* mise en forme des publications */
.publi:hover{
    background-color: var(--twitter-background);
    transition: color 100ms ease-out;
}
.publiBody img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}
/* format des images publiées */
.publiFooter{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: gray;
}
/* mise en forme des icônes like - retweet - télécharger */

.publiFooter .material-icons:hover {
    cursor: pointer;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}
.publiStamp {
    font-size: 14px !important;
    color:var(--twitter-color);
    margin-right: 5px;
}
/* mise en forme du logo "vérifié(e)" */

.publiHeaderVerif {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.publiHeaderTxt h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.publiHeaderDesc {
    margin-bottom: 10px;
    font-size: 15px;
}

.publiBody {
    flex: 1;
    padding: 10px;
}

.rightMenu {
    flex: 0.3;
}
/* le menu de droite prendra 30% de la page */
.rightMenuSearch {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.rightMenuSearch input {
    border: none;
    background-color: var(--twitter-background);
    outline: none;
}

.rightMenuSearchIcon {
    color: gray;
}

.rightMenuFolow {
    display: flexbox;
    align-items: center;
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;

    border-right: 1px solid var(--twitter-background);
    min-width: 250px;
    flex: 0.2;    
}

@media screen and (max-width: 1060px) {
    .trends .material-icons{display: none;}
}
@media screen and (max-width: 1060px) {
    .trends h1{margin-left: 50px;}
}
.folowHeader h1 {
    float:none;        
    width:auto;         
    margin:0 auto;
}
/* ici User est le nom des utilisateurs à qui on vous recommande de suivre dans la barre à droite */
.userAvatar img {
    border-radius: 50%;
    height: 40px;
}

.userAvatar {
    padding: 20px;
}

.twittos {
    display: flex;
    align-items: center;
    padding-right: 15px;
    justify-content: space-between;
}

.twittos:hover {
    cursor: pointer;
    background-color: var(--twitter-background);
    border-radius: 30px;
    transition: color 100ms ease-out;

}

.userButton {
    color: white;
    background-color:black;
    font-weight: 900;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    border:none; 
}
@media screen and (max-width: 1060px) {
    .userButton{display: none;}
}
@media screen and (max-width: 500px) {
    .trends.twittos{display: none;}
}
.userButton:hover {
    cursor: pointer;
    background-color:var(--twitter-color);
}

.userAvatar {
    align-items: flex-start;
}

.userInfo {
    vertical-align:inherit;
}
/* paramètres de la box des tendances */


     

.trends {
    display: block;
    align-items: center;
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;

    border-right: 1px solid var(--twitter-background);
    min-width: 250px;
    flex: 0.2;
}
.trends .material-icons:hover{
    cursor: pointer;
    color: gray
}

.trendsHeader {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-family: "Times New Roman", Times, serif;
}

.trendsCategory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.trendsColl:hover {
    background-color: var(--twitter-background);
    transition: color 100ms ease-out;
}

.trendsInfo h5 {
    color: gray;
}

.folowFooter {
    padding: 20px;
    color:var(--twitter-color);
    
}
/* bas des utilisateurs recommandées */
.folowFooter:hover {
    cursor: pointer;
    background-color: var(--twitter-background);
    border-radius: 30px;
    transition: color 100ms ease-out;
}
@media screen and (min-width: 800px) {
    .folowFooter{display: none;}
}
.param {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.param h3{
    color:grey;
}

@media screen and (max-width: 800px) {
    .rightMenu{display: none;}
    .publiBody{width: 100px;}
    .publi img{width: 50%;}
    .publiAvatar img {width: 100%;}
}
